body {
  background-color: black;
}

.clock-container {
  color: white;
  text-align: center;
  font-size: 4rem;
  margin: 200px auto 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.clock-container span {
  width: 1.5em;
  display: inline-block;
}

.period {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  display: inline-block;
}

.day-container {
  color: white;
  text-align: center;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  font-weight: 100;
  margin-right: 50px;
}